{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is a healthcare application designed to display the leading causes of death by sex and ethnicity in New York City from 2007-2011.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Purpose</h2>
        <ul class="list-disc pl-5">
            <li>Raising Public Health Awareness</li>
            <li>Promoting Data Transparency</li>
            <li>Encouraging Policy Development</li>
        </ul>
    </section>



{% endblock %}